$primary: hsl(243, 87%, 12%);
$secondary: hsl(224, 93%, 58%);
$moderate-cyan: hsl(170, 45%, 43%);
$desaturated-blue: hsl(238, 22%, 44%);
$light-grayish-blue: hsl(240, 75%, 98%);
$light-gray: hsl(0, 0%, 75%);

// Create your own map
$custom-colors: (
  "very-dark-blue": $primary,
  "desaturated-blue": $desaturated-blue,
  "bright-blue": $secondary,
  "moderate-cyan": $moderate-cyan,
  "light-grayish-blue": $light-grayish-blue,
  "light-gray": $light-gray,
);

@import "./node_modules/bootstrap/scss/_functions";
@import "./node_modules/bootstrap/scss/_variables";

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge(
  $theme-colors-rgb,
  (
    "black": to-rgb($black),
    "white": to-rgb($white),
    "body": to-rgb($body-color),
  )
);

$utilities-text-colors: map-loop(
  $utilities-colors,
  rgba-css-var,
  "$key",
  "text"
);
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

@import "./node_modules/bootstrap/scss/bootstrap.scss";

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

button {
  font-family: "Raleway", sans-serif;
}

.section-two {
  background: url("./images/bg-curve-mobile.svg") no-repeat;
  background-size: cover;
  background-position: center;

  .anchor-link-container {
    a {
      position: relative;
    }
    a:after {
      content: "";
      position: absolute;
      display: block;
      top: 30px;
      bottom: 0;
      right: 0;
      left: 0;
      height: 1px;
      background-color: $moderate-cyan;
    }
  }

  .card-body {
      .blockquote {
          font-size: 0.8rem;
      }
  }

  .testimonial-user {
      img {
          width: 35px;
      }
      .testimonial-user-details {
          h3,p {
              font-size: 0.8rem;
          }
      }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 768px) {
  .navbar-brand {
    img {
      width: 100px;
    }
  }
}
